body {
  font-family:'Times New Roman', Times, serif;
  background-color: rgb(31, 31, 62);
  color: #ffffff; 
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1  {
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-family:'Times New Roman', Times, serif;

}

.quote {
  color: rgb(255, 251, 193);
  display: flex;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
}

.container1 {
  justify-content: left;
  padding: 20px;
  padding-right: 100px;
  align-items: left;
  text-align: right;
  
}

.container2 {
  padding: 50px;
}

.container3 {
  padding: 20px;
  text-align: center;
}
.container4 {
  padding: 15px;
  text-align: right;
}
.container5 {
  padding:50px;
}
.container6 {
  padding:20px;
  text-align:center;
}
.btn {
  background-color: #343aa6; 
  border: black;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 40px;
}



